*{
    margin: 0px;
    padding: 0px;
}
#top{
    height: 100px;
    width: 100%;
 
    background-color: rgb(50,174,177);
    margin-top: -10px;
}
#top>img{
    height: 95px;
    width: 150px;
    margin-left: 35px;
    margin-top: 10px;
}
#all{
    height: 550px;
    width: 100%;
    background-color:rgb(246,246,247) ;
}
h2{
   margin-left: 290px;
   padding-top: 30px;
}
#last{
    height: 315px;
    width: 70%;
    margin: auto;
    display: flex;

    gap: 30px;
    margin-top: 30px;
}
#a{
    height:250px;
    width: 700px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

#b{
    height:290px;
    width: 300px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;

}
#sass{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
#a1{
    margin-left: 10px;
    color: gray;
}
#a2{
    margin-right: 10px;
    color: red;
    font-size: 13px;
}
#a3{
    margin-top: 20px;
    margin-left:  10px; ;
}
#img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 300px;
  margin-top: 60px;
  cursor: pointer;
}
#z{
    margin-left: 300px;
  margin-top: 5px; 
  color: gray;
}
#b{
    padding-top: 10px;
    padding-left: 10px;
}
#x1{
    color: gray;
}
#x2{
    margin-top: 10px;
}
#x3{
    display: flex;
   margin-left: 5px;
    margin-top: 20px;
}
#x3>p{
    margin-left: 30px;
}
.fa-solid{
    color: gray;
}
.round{
    position: relative;
    margin-left: 35px;
    
  }
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 3px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 8px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: blue;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
.x5{
    margin-top: 15px;
    font-size: 14px;
    margin-left: 5px;
    color: grey;
}  
hr{
    width: 88%;
    background-color: grey;
}
#y1{
    display: flex;
    margin-top: 20px;
}
#y1>.fa-solid {
    color: rgb(50,174,177); ;
 
    margin-left: 5px;
}
#y1>p{
    margin-left: 30px; 
}





.container{
  height: 100px;
  width: 250px;
  margin-left: 220px;
  margin-top: 20px;

  position: relative;
}
.container .wrapper{
  position: relative;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon{
    font-size: 50px;
    color: skyblue;
    
}
.wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: red;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i{
  display: block;
}
.wrapper #cancel-btn i:hover{
  color: #000;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;

}

.container #custom-btn{
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
 background-color: skyblue;
}
#btn{
    height: 55px;
    width: 310px;
    background-color: grey;
    color: white;
    font-weight: 700;
    margin-left: 63.3%;
    margin-bottom: 100px;
    border: 0px;
    border-radius: 8px;
cursor: pointer;
}


.round1{
    position: relative;
    margin-left: 35px;
    
  }
  .round1 label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
  }
  .round1 label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 3px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 8px;
  }
  
 
  .round1 #checkbox[type="checkbox"] {
    visibility: hidden;
  }
  
  .round1 #checkbox[type="checkbox"]:checked + label {
 
  }
  
  .round1 #checkbox[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  a{
      text-decoration: none;
      color: white;
  }